<h2>Carter Burke</h2>
<p>
  <img src="http://vignette2.wikia.nocookie.net/avp/images/d/de/Aliens_Burke.jpg/revision/20150131230410" alt="pic of burke" />
</p>
<p ng-show="bio">
Carter Burke (played by Mad About You's Paul Reiser.) <br/>
in Aliens is the definition and epitomy of the term "Company Man".<br/>
Carter grew up in a very wealthy family and living situation, <br/>
his father was a plastic surgeon and mother a prominent real estate developer.<br/>
 A passive-resistant, yet devious individual who views both people <br/>
 and life situations only as money making opportunities.
</p>
<p>
  Character Bio: <input type="checkbox" ng-model="bio">
</p>
