<h2>Donald Trump</h2>
<p>
  <img src="http://media.breitbart.com/media/2015/12/Donald-Trump-in-Home-Alone-2-20th-Century-Fox-640x480.jpg" alt="pic of donald" />
</p>
<p ng-show="bio">
Donald Trump (played by The Aprentice's Donald Trump.),<br />
is a business man in Home Alone 2. So consumed with his tiny hands<br />
and an obsetion with building a wall.<br />
That he fails to help a run away child and<br />
insteads directs the child to the loby <br />
so he can get back to telling everyone his hands are "hudge".

</p>
<p>
  Character Bio: <input type="checkbox" ng-model="bio">
</p>
